.related-roles, .work-for-us {
    .container {
        background: #FFF;
    }

    .box {
        align-items: flex-start;
        background: #310A31;
        border-radius: 3rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 3rem;

        &.roles-box {
            padding: 3rem 4rem;
        }
    }

    .roles-header {
        align-items: center;
        align-self: stretch;
        display: flex;
        justify-content: space-between;

        span {
            color: #F6E27F;
            font-size: 1.25rem;
            font-weight: 800;
            margin-right: 1rem;
        }
    }
}

.work-for-us {
    .box {
        background: #F6E27F;
    }

    .roles-header {
        h3, span {
            color: #310A31;
        }
    }
}
