.leadership-team {
    .leaders {
        .container {
            background: #8762CB;
        }

        .inner-container {
            margin: 1.5rem auto;
        }

        .leader {
            align-items: center;
            display: flex;
            gap: 4rem;
            justify-content: space-between;
            padding: 3rem 0;

            .img-container {
                align-items: center;
                display: flex;
                flex-direction: column;
                flex-grow: 1;

                > img {
                    border-radius: 62.5rem;
                    border: 7px solid #02C39A;
                    background: #000;
                    height: 31.25rem;
                    width: 31.25rem;
                }
            }
        }

        .text-container {
            align-self: flex-start;
            display: flex;
            flex-direction: column;
            max-width: 37rem;
        }

        .role {
            margin: 1rem 0 3rem;

            span {
                color: rgba(255, 255, 255, 0.70);
                font-size: 1.75rem;
            }
        }

        .text {
            display: flex;
            align-self: flex-start;
            margin-bottom: 4rem;
            max-width: 45.0625rem;

            span {
                color: #FFF;
                font-size: 1.125rem;
            }
        }

        .leader-contact {
            align-items: flex-start;
            align-self: stretch;
            display: flex;
            flex-direction: column;
            gap: 1.25rem;

            & > div {
                align-items: center;
                display: flex;
            }

            span {
                color: #F6E27F;
                font-size: 1.125rem;
                font-weight: 800;
                margin-left: 1rem;
            }
        }
    }
}
