.home, .looking-to-hire {
    .embedded-talent {
        background: url('../static/embedded-talent.png') center left no-repeat #8762CB;
        background-size: contain;

        .content {
            align-self: flex-end;
            max-width: 38.5rem;
        }

        .title {
            a {
                color: #F6E27F;
                background: #310A31;
            }
        }

        .text {
            margin-top: 2rem;
        }

        .body {
            color: #FFF;
            font-size: 1.125rem;
            font-weight: 600;

            a {
                color: #F6E27F;
                font-weight: 700;
            }

            img {
                margin-left: 0.5rem;
            }
        }

        .grid-container {
            margin-top: 2.5rem;
            margin-left: -1.5rem;
        }

        .info-container {
            align-items: flex-start;
            display: flex;
            flex: 1 0 0;
            flex-direction: column;
            padding: 1rem;

            img {
                height: 4rem;
            }

            h5 {
                color: #FFF;
                font-weight: 700;
                margin: 1.5rem 0 1rem;
            }

            p {
                color: rgba(255, 255, 255, 0.70);
                font-size: 1rem;
                font-weight: 600;
            }
        }

        .btn-container {
            margin-top: 3rem;
        }

        @include media-breakpoint-down(md) {
            background: #8762CB;

            .content {
                max-width: unset;
            }

            .info-container {
                align-items: center;
            }

            .grid-container {
                margin-left: -0.5rem;
                text-align: center;
            }
        }

        @include media-breakpoint-down(sm) {
            .info-container {
                h5 {
                    margin: 1rem 0 0.5rem;
                }
            }

            .grid-container {
                margin-top: 1.5rem;
            }

            .btn-container {
                margin-top: 2.5rem;
            }
        }
    }
}
