.home, .looking-to-hire {
    .executive-search {
        background: url('../static/executive-search.png') top right no-repeat #F9F9F9;
        background-size: contain;

        .content {
            align-self: flex-start;
            max-width: 38.5rem;
        }

        .text-container {
            max-width: 38.5rem;
        }

        .title {
            h1 {
                color: #7E6739;
                font-family: Playfair Display;
                font-size: 8rem;
                font-weight: 800;
                line-height: 8rem;
                margin: 2rem 0 1rem;
            }

            p {
                color: #7E6739;
                font-family: Plus Jakarta Sans;
                font-size: 1.25rem;
                font-weight: 600;
                letter-spacing: 1.25rem;
                text-align: center;

                &:first-child {
                    align-items: center;
                    display: flex;
                    font-size: 1rem;
                    font-weight: 400;
                    justify-content: center;
                    letter-spacing: normal;
                }
            }

            img {
                margin-left: 1rem;
            }
        }

        .text {
            margin-top: 3rem;
            text-align: center;

            span {
                color: #1A1A1A;
                text-align: center;
                font-family: Plus Jakarta Sans;
                font-size: 1.125rem;
                font-weight: 400;
            }
        }

        .grid-container {
            margin-top: 2.5rem;
            margin-left: -1.5rem;
        }

        .info-container {
            align-items: flex-start;
            display: flex;
            flex: 1 0 0;
            flex-direction: column;
            padding: 1rem;

            img {
                height: 2.5rem;
            }

            h5 {
                color: #1A1A1A;
                font-family: Playfair Display;
                font-weight: 900;
                margin: 1.5rem 0 1rem;
            }

            p {
                color: #1A1A1A;
                font-family: Plus Jakarta Sans;
                font-size: 1rem;
                font-weight: 400;
            }
        }

        .btn-container {
            margin-top: 4rem;
        }

        .btn {
            border-radius: 62.5rem;
            background: #7E6739;
            color: #FFF;
            font-family: Plus Jakarta Sans;
            font-size: 1.25rem;
            font-weight: 800;
        }

        @include media-breakpoint-down(md) {
            background: #F9F9F9;

            .content {
                max-width: unset;
            }

            .text-container {
                max-width: unset;
                text-align: center;
            }

            .title {
                h1 {
                    font-size: 6rem;
                    line-height: normal;
                    margin: 0.5rem 0;
                }
            }

            .info-container {
                align-items: center;

                h5 {
                    font-size: 1.75rem;
                    margin: 1rem 0 0.5rem;
                }
            }

            .grid-container {
                margin-left: -0.5rem;
                text-align: center;
            }
        }

        @include media-breakpoint-down(sm) {
            .title {
                h1 {
                    font-size: 3.5rem;
                }

                img {
                    margin-left: 0.75rem;
                    width: 5rem;
                }
            }

            .grid-container {
                margin-top: 1.5rem;
            }

            .btn-container {
                margin-top: 2.5rem;
            }
        }
    }
}
