.contact-us {
    > .follow-us {
        background: #FFF;

        .box-container {
            align-items: center;
            display: flex;
            flex-direction: column;
            gap: 3rem;

            .box {
                align-self: stretch;
                background: #310A31;
                border-radius: 3rem;
                display: flex;
                flex-direction: row;
                gap: 4rem;
                justify-content: flex-start;
                padding: 4rem;

                &.follow {
                    background: #F6E27F;

                    h3 {
                        color: #310A31;
                        word-wrap: break-word;
                    }

                    p {
                        color: rgba(49, 10, 49, 0.70);
                    }
                }
            }
        }

        .text-container {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            max-width: 33rem;

            p {
                color: rgba(255, 255, 255, 0.70);
                font-size: 1rem;
            }
        }

        .action-container {
            flex-grow: 1;

            &:has(.socials) {
                margin: auto 0;
            }

            p {
                color: rgba(255, 255, 255, 0.70);
                font-size: 0.875rem;
            }

            a {
                color: rgba(255, 255, 255, 0.70);
                text-decoration-line: underline;
            }

            .subscribe-container {
                align-items: center;
                display: flex;
                gap: 1rem;
                margin-bottom: 1rem;
            }

            .socials {
                align-items: center;
                display: flex;
                justify-content: space-around;
                margin: 0 auto;
                max-width: 27rem;

                & > div {
                    align-items: center;
                    display: flex;
                    flex-grow: 1;
                    justify-content: space-around;
                    margin: 0 auto;
                }
            }
        }

        .input-container {
            input {
                padding: 1rem 1.5rem;
            }
        }

        @include media-breakpoint-down(md) {
            .box-container {
                gap: 2rem;

                .box {
                    flex-direction: column;
                    gap: 2.5rem;
                    padding: 2rem 1.5rem;

                    &.follow {
                        gap: 3rem;
                    }
                }
            }

            .action-container {
                .subscribe-container {
                    flex-direction: column;

                    .textfield {
                        width: 100%;

                        input {
                            height: 3.75rem;
                            padding: 1.12rem 1.5rem;
                        }
                    }
                }

                p {
                    text-align: center;
                }
            }
        }
    }
}
