.home {
    .hero {
        background: url('../static/hero-image.png') center no-repeat #FF958C;
        background-size: cover;

        .content {
            align-self: stretch;
        }

        .text-container {
            display: flex;
            flex-direction: column;
            margin-top: 6rem;
            max-width: 38.5rem;
        }

        .title {
            h1 {
                color: #310A31;
            }
        }

        .text {
            margin-top: 2.5rem;

            span {
                color: #310A31;
                font-size: 1.25rem;
            }
        }

        .btn-container {
            margin-top: 4rem;
        }

        @include media-breakpoint-down(md) {
            background: #FF958C;

            h1 {
                font-size: 2.75rem;
            }

            .text-container {
                margin-top: 2rem;
                max-width: unset;
            }
        }
    }
}
