.leadership-team .leaders {
    background: #8762CB;

    .inner-container {
        padding: 3rem 0;
    }

    .leader {
        align-items: center;
        display: flex;
        gap: 4rem;
        justify-content: space-between;
        padding: 3rem 0;

        &:nth-child(2) {
            flex-direction: row-reverse;
        }

        .img-container {
            align-items: center;
            display: flex;
            flex-grow: 1;
            justify-content: center;

            > div {
                align-items: center;
                background: #02C39A;
                border-radius: 62.5rem;
                display: flex;
                height: 31.25rem;
                justify-content: center;
                padding: 7px;
                width: 31.25rem;
            }

            img {
                border-radius: 62.5rem;
                background: #000;
                height: 100%;
                width: 100%;
            }
        }
    }

    .text-container {
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        max-width: 37rem;
    }

    .role {
        margin: 1rem 0 3rem;

        span {
            color: rgba(255, 255, 255, 0.70);
            font-size: 1.75rem;
        }
    }

    .text {
        display: flex;
        align-self: flex-start;
        margin-bottom: 4rem;
        max-width: 45.0625rem;

        p {
            color: #FFF;
            font-size: 1.125rem;
        }
    }

    .leader-contact {
        align-items: flex-start;
        align-self: stretch;
        display: flex;
        flex-direction: column;
        gap: 1.25rem;

        & > div {
            align-items: center;
            display: flex;
        }

        a {
            align-items: center;
            display: flex;
        }

        img {
            width: 1.5rem;
        }

        span {
            color: #F6E27F;
            font-size: 1.25rem;
            font-weight: 800;
            margin-left: 1rem;
        }
    }

    @include media-breakpoint-down(md) {
        .inner-container {
            padding: 2rem 0;
        }

        .leader {
            flex-direction: column-reverse;
            gap: 2rem;
            padding: 2rem 0;

            .img-container > div {
                padding: 6px;
                max-height: 21.25rem;
                max-width: 21.25rem;
            }
        }

        .role {
            margin-bottom: 2rem;
        }

        .text {
            margin-bottom: 3rem;
            max-width: unset;
        }
    }

    @include media-breakpoint-down(sm) {
        .leader {
            .img-container > div {
                padding: 5px;
                max-height: 17.4375rem;
                max-width: 17.4375rem;
            }
        }
    }
}

.unitas-site .leadership-team .leaders {
    background: #3A84C9;

    .leader {
        .role span {
            font-size: 2rem;
        }

        .img-container > div {
            background: linear-gradient(#ED903A, #F8B535);
        }
    }

    .leader-contact span {
        color: #FFF;
        font-weight: 600;
    }
}