.leadership-team,
.our-story,
.work-for-us,
.contact-us,
.executive-search {
    .leadership-hero {
        background: url('../static/huddle/leadership.png') top right no-repeat #FFF;
        background-size: contain;

        .content {
            margin-top: 2rem;
        }

        .text-container {
            align-self: flex-start;
            display: flex;
            flex-direction: column;
            max-width: 45.0625rem;

            > h5 {
                color: #00D7A9;
                font-weight: 600;
            }
        }

        .title {
            margin-top: 2rem;

            h1 {
                color: #02C39A;
                font-size: 5rem;
            }

            a {
                color: #F6E27F;
                background: #310A31;
            }
        }

        .text {
            display: flex;
            flex-direction: column;
            align-self: flex-end;
            margin-top: 3rem;
            max-width: 37.0625rem;

            p {
                color: #7E8192;
                font-size: 1.25rem;
                font-weight: 600;
                line-height: 2rem;
            }
        }

        .info-container {
            margin-top: 6rem;

            .info-box {
                align-items: flex-start;
                background-color: #02C39A;
                border-radius: 3rem;
                display: flex;
                flex-direction: column;
                padding: 3rem 4rem;

                &:has(.info-calculation) {
                    padding: 3rem 4rem 4rem;
                }

                .info-title {
                    margin-bottom: 2rem;

                    h5 {
                        color: #310A31;
                    }
                }
            }

            .info-details {
                align-items: flex-start;
                align-self: stretch;
                display: flex;
                justify-content: space-between;
            }

            .info-description {
                margin-bottom: 1.5rem;

                p {
                    font-size: 1.5rem;
                    line-height: 2.375rem;
                }
            }

            .info-signatures {
                align-items: center;
                display: flex;
                gap: 4rem;
                justify-content: center;
                margin: 0 auto;

                .info-signature {
                    align-items: flex-start;
                    display: flex;
                    flex-direction: column;

                    img {
                        height: 5.5rem;
                        margin-bottom: 1rem;
                    }

                    h6 {
                        color: #310A31;
                        font-size: 1rem;
                        font-weight: 600;
                        margin-bottom: 2px;
                    }

                    span {
                        color: rgba(49, 10, 49, 0.30);
                        font-size: 0.875rem;
                    }
                }
            }

            .info-calculation {
                align-items: center;
                display: flex;
                justify-content: space-between;
                text-align: center;

                > div {
                    margin: 1rem 1.5rem;
                }

                h5 {
                    font-size: 1.5rem;
                    margin-bottom: 0.75rem;
                }

                p {
                    color: rgba(255, 255, 255, 0.70);
                    font-size: 1rem;
                }

                img {
                    background: #310A31;
                    border-radius: 62.5rem;
                    height: 4rem;
                    padding: 1rem;
                    width: 4rem;
                }
            }
        }

        @include media-breakpoint-down(md) {
            background: #FFF;

            .content {
                margin-top: 4rem;
            }

            .text-container {
                max-width: unset;

                > h5 {
                    font-size: 1.75rem;
                }
            }

            .title {
                h1 {
                    font-size: 4rem;
                }
            }

            .text {
                margin-top: 2rem;
                max-width: unset;
            }

            .info-container {
                margin-top: 3rem;

                .info-box {
                    padding: 2rem 1.5rem;

                    .info-title h5 {
                        font-size: 1.75rem;
                    }
                }

                .info-details {
                    flex-wrap: wrap;
                    gap: 2rem;
                    justify-content: space-around;
                    text-align: center;

                    h2 {
                        font-size: 4rem;
                    }

                    span {
                        font-size: 1rem;
                    }
                }

                .info-description {
                    margin-bottom: 2rem;

                    p {
                        line-height: 2.125rem;
                    }
                }

                .info-calculation {
                    flex-direction: column;
                    margin: 0 auto;

                    > div {
                        margin: 1.5rem;
                        max-width: 30rem;

                        &:first-child {
                            margin-top: 0;
                        }

                        &:last-child {
                            margin-bottom: 1rem;
                        }
                    }
                }
            }
        }

        @include media-breakpoint-down(sm) {
            .text-container {
                > h5 {
                    font-size: 1.25rem;
                }
            }

            .title {
                h1 {
                    font-size: 3rem;
                }
            }

            .info-container {
                margin-top: 3rem;

                .info-box {
                    padding: 2rem 1.5rem;
                }

                .info-details {
                    flex-direction: column;
                    gap: 1.5rem;
                    align-items: center;
                }

                .info-signatures {
                    flex-direction: column;
                    gap: 1.5rem;

                    .info-signature {
                        align-items: center;
                    }
                }
            }
        }
    }
}

.work-for-us, .contact-us {
    .leadership-hero {
        background: url('../static/huddle/work-for-us.png') top right no-repeat #FFF;
        background-size: contain;

        .text-container {
            margin-bottom: 8rem;

            > h5 {
                color: #310A31;
            }
        }

        .title {
            margin-top: 2rem;

            h1 {
                color: #310A31;
                font-size: 5rem;
            }

            a {
                color: #F6E27F;
                background: #310A31;
            }
        }

        @include media-breakpoint-down(md) {
            background: #FFF;

            .text-container {
                margin-bottom: 3rem;
            }

            .title {
                h1 {
                    font-size: 4rem;
                }
            }
        }

        @include media-breakpoint-down(sm) {
            .title {
                h1 {
                    font-size: 3rem;
                }
            }
        }
    }
}

.executive-search {
    .leadership-hero {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.80) 10.41%, rgba(0, 0, 0, 0.70) 34.26%, rgba(0, 0, 0, 0.57) 65.41%, rgba(0, 0, 0, 0.00) 100%), url('../static/huddle/executive-leadership.jpg'), lightgray 50% / cover no-repeat;
        background-size: cover;

        .content {
            margin-top: 0;
        }

        .title {
            margin-top: 0;

            h1 {
                color: #FFF;
                font-family: Playfair Display;
                font-size: 4rem;
                font-weight: 400;
            }
        }

        .text {
            align-self: flex-start;
            max-width: unset;

            p {
                color: #FFF;
                font-family: Plus Jakarta Sans;
                font-size: 1.125rem;
                font-weight: 400;
            }
        }

        .info-container {
            margin: 7rem 0 2rem;

            .info-box:has(.info-calculation) {
                background-color: unset;
                padding: 0;

                .info-title {
                    display: none;
                }
            }

            .info-calculation {
                > div {
                    margin: 0 2rem;
                }

                h5 {
                    font-family: Playfair Display;
                    font-size: 1.75rem;
                }

                p {
                    font-family: Plus Jakarta Sans;
                    font-weight: 400;
                }

                img {
                    background: #7E8192;
                }
            }
        }

        @include media-breakpoint-down(md) {
            .info-container {
                margin: 3rem 0 0;

                .info-calculation {
                    flex-direction: column;
                    margin: 0 auto;

                    h5 {
                        font-size: 2rem;
                        margin-bottom: 1rem;
                    }

                    > div {
                        margin: 2rem;
                        max-width: 30rem;

                        &:first-child {
                            margin-top: 0;
                        }

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }

        @include media-breakpoint-down(sm) {
            .title {
                h1 {
                    font-size: 3rem;
                }
            }
        }
    }
}

.unitas-site {
    .leadership-team,
    .our-story,
    .work-for-us,
    .contact-us,
    .executive-search {
        .leadership-hero {
            .text-container h5 {
                color: #496049;
                font-family: Poppins;
                font-size: 1.75rem;
                font-weight: 400;
            }

            .title {
                h1, a {
                    background: none;
                    color: #496049;
                    font-family: Fraunces;
                    font-size: 5rem;
                    font-weight: 900;
                }
            }

            .text p {
                font-weight: 400;
            }

            .info-container {
                .info-box {
                    background: #496049;
                    border-radius: 1.5rem;

                    .info-title h5 {
                        color: #FFF;
                        font-weight: 900;
                    }

                    .info-detail {
                        h2 {
                            font-size: 4rem;
                        }

                        span {
                            font-size: 1rem;
                        }
                    }
                }

                .info-signatures .info-signature {
                    h6 {
                        color: #FFF;
                        font-family: Poppins;
                        font-weight: 400;
                    }

                    span {
                        color: rgba(255, 255, 255, 0.30);
                    }
                }

                .info-calculation {
                    img {
                        background: #B1C9B1;
                    }
                }
            }
        }
    }

    .leadership-team, .our-story {
        .leadership-hero {
            background: url('../static/unitas/leadership.png') top right no-repeat #F9F9F9;
            background-size: 45%;
        }
    }

    .work-for-us, .contact-us {
        .leadership-hero {
            background: url('../static/unitas/contact-us.png') top right no-repeat #F9F9F9;
            background-size: 45%;

            .text-container h5,
            .title h1,
            .title a {
                color: #56422F;
            }
        }
    }

    .executive-search .leadership-hero {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.90) 23.61%, rgba(0, 0, 0, 0.79) 43.10%, rgba(0, 0, 0, 0.65) 65.41%, rgba(0, 0, 0, 0.00) 100%), url('../static/unitas/executive-leadership.jpeg'), lightgray 50% / cover no-repeat;
        background-size: cover;

        .title h1 {
            color: #FFF;
            font-weight: 400;
        }

        .text p {
            font-family: Poppins;
        }

        .info-container {
            .info-box {
                background-color: unset;
                padding: 0;
            }

            .info-calculation img {
                background: #710058;
            }
        }
    }
}
