.looking-for-a-job {
    .hero {
        background: url('../static/looking-to-hire.png') top right no-repeat #8762CB;
        background-size: contain;

        .title {
            margin-top: 2rem;

            a {
                color: #F6E27F;
                background: #310A31;
            }
        }
    }
}
