.top-nav {
  align-items: center;
  align-self: stretch;
  background: #310A31;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .top-nav-inner {
    align-items: center;
    display: flex;
    height: 3.5rem;
    padding: 0 1.5rem;
    justify-content: space-between;
    width: 100%;
  }

  .top-nav-list {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .top-nav-quicklinks {
    align-items: center;
    cursor: pointer;
    display: none;
    justify-content: space-between;
    padding: 0.75rem 0.5rem;
    width: 100%;

    p {
      color: #F6E27F;
      font-size: 1rem;
    }

    img {
      transform: rotate(0deg);
      transition: transform 0.25s linear;
    }
  }

  &:has(.dropdown.active) {
    .top-nav-quicklinks {
      img {
        transform: rotate(180deg);
        transition: transform 0.25s linear;
      }
    }
  }

  .top-nav-left, .top-nav-right {
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    > div {
      align-items: center;
      display: flex;
    }

    a {
      color: #F6E27F;
      font-size: 0.875rem;
      font-weight: 700;
    }
  }

  @include media-breakpoint-down(md) {
    .top-nav-inner {
      height: unset;
    }

    .top-nav-list {
      display: none;
    }

    .top-nav-quicklinks {
      display: flex;
    }
  }

  .dropdown {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%), #310A31;
    display: none;
    width: 100%;

    .dropdown-container {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      padding: 2rem 1.5rem;
      width: 100%;

      .top-nav-left, .top-nav-right {
        flex-direction: column;
        gap: 1.5rem;

        a {
          font-size: 1rem;
          font-weight: 800;
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    .top-nav-inner {
      padding: 0 0.75rem 0 0.25rem;
    }

    .dropdown.active {
      display: flex;
    }
  }
}

.header {
  align-items: center;
  background: #FFF;
  border-bottom: 1px solid rgba(49, 10, 49, 0.15);
  display: flex;
  height: 6rem;
  justify-content: space-between;
  z-index: 10;

  .header-inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .logo {
    height: 3.72rem;
  }

  @include media-breakpoint-down(lg) {
    .logo {
      height: 3rem;
    }
  }

  @include media-breakpoint-down(md) {
    height: 5rem;

    .logo {
      height: 3rem;
    }
  }

  @include media-breakpoint-down(sm) {
    height: 4rem;

    .logo {
      height: 2.5rem;
    }
  }
}

div:not(.content) > .header {
  position: sticky;
  top: 0;

  .header-inner {
    padding: 0 1.5rem;
    width: 100%;
  }
}

.header-nav {
  border-radius: 1000px;
  background: #FFF;
  align-items: center;
  display: flex;
  justify-content: center;
  width: fit-content;

  .header-nav-list {
    display: block;
  }

  .logo-menubar {
    cursor: pointer;
    display: none;
    padding: 0.5rem;
  }
}

.header-nav, .sidebar {
  .nav-list {
    display: flex;
    gap: 2rem;

    > div {
      align-items: center;
      display: flex;
      flex-direction: column;
      position: relative;
    }

    a {
      align-items: center;
      color: #310A31 !important;
      cursor: pointer !important;
      display: flex;
      font-size: 1.125rem;
      font-weight: 800;

      img {
        margin-left: 10px;
      }
    }
  }

  .nav-dropdown {
    background: #310A31;
    border-radius: 2rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 5rem;
    padding: 2.5rem 2rem;
    position: absolute;
    right: 0;
    width: 16.5rem;

    img {
      position: absolute;
      top: -0.75rem;
    }

    > div {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    a {
      font-family: Montserrat;
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 800;
      line-height: normal;

      @include media-breakpoint-up(md) {
        color: #F6E27F !important;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  div:not(.content) > .header .header-inner {
    padding: 0 0.75rem;

    .header-nav-list {
      display: none;
    }

    .logo-menubar {
      display: block;
    }
  }
}

.sidebar {
  background: rgba(0, 0, 0, 0.50);
  display: none;
  flex-direction: column;
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 222;

  @include media-breakpoint-down(md) {
    &.active {
      display: flex;
    }
  }

  .sidebar-container {
    background: #FFF;
    height: 100%;
    max-width: 23rem;
    padding: 2rem 1.5rem;
    width: 90%;
  }

  .sidebar-header {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .logo {
      height: 2.5rem;
    }

    .close-button {
      cursor: pointer;
      padding: 0.5rem;
    }
  }

  .nav-list {
    align-items: flex-start;
    flex-direction: column;
    gap: 3rem;
    margin-top: 5rem;

    a {
      font-size: 1.5rem;
    }

    > div {
      align-items: flex-start;
    }
  }

  .nav-dropdown {
    align-items: flex-start;
    background: none;
    gap: 2rem;
    padding: 0;
    position: relative;
    margin-top: 2rem;
    width: 100%;

    img {
      display: none;
    }

    a {
      color: #310A31;
      font-size: 1rem;
      text-overflow: ellipsis;
    }
  }
}

.closeButton {
  cursor: pointer;
}

