.our-story,
.executive-search,
.embedded-talent,
.contract-interim {
    .pro-points {
        background: #310A31;

        .text-container {
            align-self: flex-start;
            display: flex;
            flex-direction: column;
            max-width: 45.0625rem;
        }

        .text {
            margin-top: 2rem;

            span {
                font-size: 1.125rem;
            }
        }

        .pro-point-container {
            margin-top: 4rem;
            text-align: center;

            .pro-point {
                display: flex;
                flex-direction: column;
                max-width: 23.3333rem;

                img {
                    background: #02C39A;
                    border-radius: 62.5rem;
                    padding: 1rem;
                    margin: 0 auto;
                }

                h5 {
                    margin: 1.5rem 0 1rem;
                }

                span {
                    color: rgba(255, 255, 255, 0.70);
                    font-size: 1rem;
                }
            }
        }
    }
}

.embedded-talent,
.contract-interim {
    .pro-points {
        .pro-point-container {
            .pro-point {
                img {
                    background: #FF958C;
                }
            }
        }
    }
}

.executive-search {
    .pro-points {
        background: #645028;

        .title {
            h2 {
                font-family: Playfair Display;
                font-weight: 400;
            }
        }

        .text {
            span {
                color: #FFF;
                font-family: Plus Jakarta Sans;
                font-weight: 400;
            }
        }

        .pro-point-container {
            .pro-point {
                img {
                    background: #7E8192;
                }

                h5 {
                    font-family: Playfair Display;
                }

                span {
                    color: rgba(255, 255, 255, 0.70);
                    font-family: Plus Jakarta Sans;
                    font-weight: 400;
                }
            }
        }
    }
}
