.resources-box, .resources {
  .resource-grid-item {
    max-width: 19.875rem;

    @include media-breakpoint-down(md) {
      max-width: 21.9375rem;
    }
  }

  .resource {
    border-radius: 1.5rem;
    border: 1px solid rgba(49, 10, 49, 0.15);
    background: #FFF;
    box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);

    .resource-container {
      display: flex;
      padding: 1rem 1rem 2rem;
      flex-direction: column;
      align-items: flex-start;
      flex: 1 0 0;
    }

    .resource-type-container {
      border-radius: 1rem;
      background: #D9D9D9;
      height: 9.19rem;
      padding: 0.75rem;
      width: 100%;
    }

    .resource-type {
      align-items: center;
      border-radius: 6.25rem;
      display: flex;
      padding: 0.5rem 1rem;
      width: fit-content;

      &.blog {
        background: #FFE6CF;

        span {
          color: #B4651C;
        }
      }

      &.insight {
        background: #FEF7B9;

        span {
          color: #877B10;
        }
      }

      &.case-study {
        background: #EEFFCB;

        span {
          color: #516D18;
        }
      }

      span {
        font-size: 0.75rem;
        font-weight: 600;
      }
    }

    .resource-title {
      margin: 1rem 0;

      h6 {
        color: #1A1A1A;
        font-size: 1.75rem;
        font-weight: 800;
      }
    }

    .resource-attributes {
      align-items: flex-start;
      display: flex;
      gap: 0.5rem;

      .resource-attribute {
        align-items: center;
        background: rgba(255, 149, 140, 0.10);
        border-radius: 0.375rem;
        display: flex;
        gap: 0.375rem;
        justify-content: center;
        padding: 0.25rem 0.625rem;
        width: fit-content;

        span {
          color: #E77268;
          font-weight: 600;
          font-size: 0.875rem;
        }
      }
    }

    .resource-description {
      margin: 1.25rem 0 1.5rem;

      p {
        color: #7E8192;
        font-size: 0.875rem;
      }
    }

    .btn {
      font-size: 1rem;
      padding: 0.75rem 2rem;
      width: 100%;
    }

    @include media-breakpoint-down(sm) {
      .btn {
        font-size: 1rem;
        padding: 0.75rem 2rem;
      }

      .resource-container {
        padding: 1rem 1rem 1.5rem;
      }
    }
  }
}

.unitas-site {
  .resources-box, .resources {
    .resource {
      border-radius: 0.75rem;

      .resource-container {
        padding: 1rem 1rem 1.5rem;
      }

      .resource-type-container {
        border-radius: 0.5rem;
      }
    }
  }
}
