.resources {
    .title {
        margin-bottom: 2rem;

        h2 {
            color: #52050A;
        }
    }

    .text {
        font-size: 1.125rem;
        margin-top: 2rem;

        a {
            color: #F6E27F;
            font-weight: 800;
        }

        img {
            margin-left: 0.5rem;
        }
    }

    .resources-grid {
        margin-top: 4rem;
    }
}

.unitas-site .resources {
    .title h2 {
        color: #00400E;
        font-weight: 900;
    }
}
