.specialism,
.looking-to-hire,
.looking-for-a-job,
.executive-search,
.embedded-talent,
.contract-interim {
    .specialism-hero {
        .text-container {
            align-self: flex-start;
            display: flex;
            flex-direction: column;
            max-width: 45.0625rem;
        }

        .title {
            h1 {
                font-size: 5rem;
            }
        }

        .text {
            display: flex;
            flex-direction: column;
            align-self: flex-end;
            margin-top: 3rem;
            max-width: 37.0625rem;

            span {
                font-size: 1.25rem;
                font-weight: 600;
                line-height: 2rem;
            }

            .btn-container {
                margin-top: 4rem;
            }
        }

        .info-grid-container,
        .contact-grid-container {
            margin-top: 5.25rem;
        }

        @include media-breakpoint-down(md) {
            .text-container {
                max-width: unset;
            }

            .title {
                h1 {
                    font-size: 4rem;
                }
            }

            .text {
                margin-top: 2.5rem;
                max-width: unset;
            }

            .info-grid-container,
            .contact-grid-container {
                margin-top: 2.25rem;

                > div {
                    flex-basis: 100%;
                    max-width: 70%;
                }
            }
        }

        @include media-breakpoint-down(sm) {
            .info-grid-container,
            .contact-grid-container {
                > div {
                    flex-basis: 100%;
                    max-width: 100%;
                }
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .embedded-talent, .contract-interim {
        .specialism-hero {
            .title {
                h1 {
                    font-size: 3.5rem;
                }
            }
        }
    }
}

.looking-to-hire,
.looking-for-a-job,
.embedded-talent,
.contract-interim {
    .specialism-hero {
        background: url('../static/looking-to-hire.png') top right no-repeat #8762CB;
        background-size: contain;

        .title {
            margin-top: 2rem;

            a {
                color: #F6E27F;
                background: #310A31;
            }
        }

        @include media-breakpoint-down(md) {
            background: #8762CB;

            .title {
                margin-top: 4rem;
            }
        }
    }
}

.specialism {
    .specialism-hero {
        background: url('../static/executive-search.png') top right no-repeat #FFF;
        background-size: contain;

        .title {
            background: url('../static/specialism-icon.svg') top center no-repeat;
            background-size: 12rem;
            padding-top: 6rem;

            h1 {
                color: #310A31;
            }
        }

        .text {
            span {
                color: #7E8192;
            }
        }

        @include media-breakpoint-down(md) {
            background: #FFF;

            .inner-container {
                padding: 1.5rem 0 0;
            }

            .title {
                background-position: right 0;
                background-size: 10rem;
                padding-top: 6.5rem;

                h1 {
                    font-size: 3rem;
                }
            }
        }
    }
}

.executive-search {
    .specialism-hero {
        background: url('../static/executive-search.png') top right no-repeat #F9F9F9;
        background-size: contain;

        .content {
            margin-top: 2rem;
        }

        .text-container {
            width: 45.0625rem;
        }

        .title {
            max-width: 35.625rem;

            h1 {
                color: #7E6739;
                font-family: Playfair Display;
                font-size: 8rem;
                font-weight: 800;
                line-height: 8rem;
                margin: 1.5rem 0;
            }

            p {
                color: #7E6739;
                font-family: Plus Jakarta Sans;
                font-size: 1.25rem;
                font-weight: 600;
                letter-spacing: 1.25rem;
                text-align: center;

                &:first-child {
                    align-items: center;
                    display: flex;
                    font-size: 1rem;
                    font-weight: 400;
                    justify-content: center;
                    letter-spacing: normal;
                }
            }

            img {
                margin-left: 1rem;
            }
        }

        .text {
            align-self: flex-end;

            span {
                color: #1A1A1A;
                font-family: Plus Jakarta Sans;
                font-weight: 400;
            }
        }

        @include media-breakpoint-down(md) {
            background: #F9F9F9;

            .content {
                margin-top: 4rem;
            }

            .text-container {
                text-align: center;
                width: unset;
            }

            .title {
                max-width: unset;

                h1 {
                    font-size: 6rem;
                    line-height: normal;
                    margin: 0.5rem 0;
                }
            }

            .text {
                margin-top: 2.5rem;
            }
        }

        @include media-breakpoint-down(sm) {
            .title {
                h1 {
                    font-size: 3.5rem;
                }

                img {
                    margin-left: 0.75rem;
                    width: 5rem;
                }
            }

            .text {
                span {
                    font-size: 1.125rem;
                }
            }
        }
    }
}
