.home,
.work-for-us,
.executive-search,
.embedded-talent,
.contract-interim,
.permanent {
    > .work-for-us {
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.50) 10.41%, rgba(0, 0, 0, 0.44) 34.26%, rgba(0, 0, 0, 0.36) 55.33%, rgba(0, 0, 0, 0.00) 100%), url('../static/huddle/work-for-us.jpg') center no-repeat, lightgray 50% / cover no-repeat;
        background-size: cover;

        .content {
            align-self: flex-start;
            max-width: 38.5rem;
        }

        .title a {
            color: #F6E27F;
            background: #310A31;
        }

        .text {
            margin-top: 2rem;

            p {
                color: #FFF;
                font-size: 1.125rem;
                font-weight: 600;
            }
        }

        .grid-container {
            margin-top: 3rem;

            .link-container {
                align-items: center;
                display: flex;
                height: 3rem;
            }

            a {
                align-items: center;
                display: flex;
                max-width: 14.75rem;

                span {
                    color: #F6E27F;
                    font-size: 1.25rem;
                    font-weight: 800;
                    max-width: 12.375rem;
                }
            }

            img {
                margin-left: 1rem;
                width: 1.25rem;
            }
        }

        .cv-container {
            background: #310A31;
            border-radius: 2rem;
            margin-top: 4rem;
            padding: 2rem;

            p {
                color: rgba(255, 255, 255, 0.70);
                font-size: 1rem;
                margin: 1rem 0 2rem;
            }

            .link-container {
                display: flex;
                justify-content: flex-end;

                a {
                    align-items: center;
                    color: #F6E27F;
                    display: flex;
                    font-size: 1.25rem;
                    font-weight: 800;
                }

                img {
                    margin-left: 1rem;
                    width: 1.25rem;
                }
            }
        }

        @include media-breakpoint-down(md) {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url('../static/huddle/work-for-us.jpg') center no-repeat, lightgray -1217.123px 0px / 610.604% 100% no-repeat;
            background-size: cover;

            .content {
                max-width: unset;
            }
        }

        @include media-breakpoint-down(sm) {
            .grid-container {
                margin-top: 2rem;

                .link-container {
                    height: unset;

                    a {
                        justify-content: space-between;
                        width: 100%;
                    }
                }
            }

            .cv-container {
                margin-top: 3rem;
            }
        }
    }
}

.executive-search {
    > .work-for-us {
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.85) 10.41%, rgba(0, 0, 0, 0.75) 34.26%, rgba(0, 0, 0, 0.61) 55.33%, rgba(0, 0, 0, 0.00) 100%), url('../static/huddle/executive-work-for-us.jpeg') center no-repeat, lightgray 0px -70.059px / 100% 117.087% no-repeat;
        background-size: cover;

        .title {
            h2, a {
                font-family: Playfair Display;
                font-weight: 400;
            }

            a {
                color: #FFF;
                background: 0;
            }
        }

        .text {
            p {
                font-family: Plus Jakarta Sans;
                font-size: 1.125rem;
                font-weight: 400;
            }
        }

        .grid-container {
            span {
                color: #E0B45C;
                font-family: Plus Jakarta Sans;
            }
        }

        @include media-breakpoint-down(md) {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.75) 100%), url('../static/huddle/executive-work-for-us.jpeg'), lightgray -655.917px 0px / 362.356% 100% no-repeat;
            background-size: cover;
        }
    }
}

.unitas-site {
    .home,
    .work-for-us,
    .executive-search,
    .embedded-talent,
    .contract-interim,
    .permanent {
        > .work-for-us {
            background: linear-gradient(90deg, rgba(0, 0, 0, 0.85) 10.41%, rgba(0, 0, 0, 0.75) 34.26%, rgba(0, 0, 0, 0.61) 55.33%, rgba(0, 0, 0, 0.00) 100%), url('../static/unitas/work-for-us.jpeg'), lightgray 1688px -5.42px / 118.889% 100.943% no-repeat;
            background-size: cover;

            .title a {
                background: none;
                color: #FFF;
                font-family: Fraunces;
            }

            .text p {
                font-weight: 400;
            }

            .grid-container a span {
                color: #F49944;
                font-weight: 600;
            }

            .cv-container {
                background: #1A1A1A;
                border-radius: 1.5rem;

                a {
                    color: #F49944;
                    font-weight: 600;
                }
            }

            @include media-breakpoint-down(sm) {
                .title h2 {
                    font-size: 3rem;
                }
            }
        }
    }

    .executive-search > .work-for-us {
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.85) 10.41%, rgba(0, 0, 0, 0.75) 34.26%, rgba(0, 0, 0, 0.61) 55.33%, rgba(0, 0, 0, 0.00) 100%), url('../static/unitas/executive-work-for-us.jpeg') center no-repeat, lightgray 50% / cover no-repeat;
        background-size: cover;

        .grid-container a span {
            color: #FFC700;
        }
    }
}
