.leadership-team,
.our-story,
.work-for-us,
.contact-us,
.executive-search {
    .leadership-hero {
        background: url('../../../static/leadership.png') top right no-repeat #FFF;
        background-size: contain;

        .content {
            margin-top: 2rem;
        }

        .text-container {
            align-self: flex-start;
            display: flex;
            flex-direction: column;
            max-width: 45.0625rem;

            > h5 {
                color: #00D7A9;
                font-weight: 600;
            }
        }

        .title {
            margin-top: 2rem;

            h1 {
                color: #02C39A;
                font-size: 5rem;
            }

            a {
                color: #F6E27F;
                background: #310A31;
            }
        }

        .text {
            display: flex;
            flex-direction: column;
            align-self: flex-end;
            margin-top: 3rem;
            max-width: 37.0625rem;

            span {
                color: #7E8192;
                font-size: 1.25rem;
                font-weight: 600;
                line-height: 2rem;
            }
        }

        .info-container {
            margin-top: 6rem;

            .info-box {
                align-items: flex-start;
                background-color: #02C39A;
                border-radius: 3rem;
                display: flex;
                flex-direction: column;
                padding: 3rem 4rem;

                .info-title {
                    margin-bottom: 2rem;

                    h5 {
                        color: #310A31;
                    }
                }
            }

            .info-details {
                align-items: flex-start;
                align-self: stretch;
                display: flex;
                justify-content: space-between;
            }

            .info-description {
                margin-bottom: 1.5rem;

                span {
                    font-size: 1.5rem;
                    line-height: 2.375rem;
                }
            }

            .info-signatures {
                align-items: center;
                display: flex;
                gap: 4rem;
                justify-content: center;
                margin: 0 auto;

                .info-signature {
                    align-items: flex-start;
                    display: flex;
                    flex-direction: column;

                    img {
                        margin-bottom: 1rem;
                    }

                    h6 {
                        color: #310A31;
                        font-size: 1rem;
                        font-weight: 600;
                        margin-bottom: 2px;
                    }

                    span {
                        color: rgba(49, 10, 49, 0.30);
                        font-size: 0.875rem;
                    }
                }
            }

            .info-calculation {
                align-items: center;
                display: flex;
                justify-content: space-between;
                text-align: center;

                > div {
                    margin: 1rem 1.5rem;
                }

                h5 {
                    font-size: 1.5rem;
                    margin-bottom: 0.75rem;
                }

                span {
                    color: rgba(255, 255, 255, 0.70);
                    font-size: 1rem;
                }

                img {
                    background: #310A31;
                    border-radius: 62.5rem;
                    height: 4rem;
                    padding: 1rem;
                    width: 4rem;
                }
            }
        }
    }
}

.work-for-us, .contact-us {
    .leadership-hero {
        background: url('../../../static/work-for-us.png') top right no-repeat #FFF;
        background-size: contain;

        .text-container {
            margin-bottom: 8rem;

            > h5 {
                color: #310A31;
            }
        }

        .title {
            margin-top: 2rem;

            h1 {
                color: #310A31;
                font-size: 5rem;
            }

            a {
                color: #F6E27F;
                background: #310A31;
            }
        }
    }
}

.executive-search {
    .leadership-hero {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.80) 10.41%, rgba(0, 0, 0, 0.70) 34.26%, rgba(0, 0, 0, 0.57) 65.41%, rgba(0, 0, 0, 0.00) 100%), url('../../../static/executive-leadership.jpg'), lightgray 50% / cover no-repeat;

        .title {
            h1 {
                color: #FFF;
                font-family: Playfair Display;
                font-size: 4rem;
                font-weight: 400;
            }
        }

        .text {
            align-self: flex-start;
            max-width: unset;

            span {
                color: #FFF;
                font-family: Plus Jakarta Sans;
                font-size: 1.125rem;
                font-weight: 400;
            }
        }

        .info-container {
            margin: 7rem 0 2rem;

            .info-box {
                background-color: unset;
                padding: 0;

                .info-title {
                    display: none;
                }
            }

            .info-calculation {
                > div {
                    margin: 0 2rem;
                }

                h5 {
                    font-family: Playfair Display;
                    font-size: 1.75rem;
                }

                span {
                    font-family: Plus Jakarta Sans;
                    font-weight: 400;
                }

                img {
                    background: #7E8192;
                }
            }
        }
    }
}
