.specialisms, .looking-to-hire, .looking-for-a-job {
    .hero {
        .text-container {
            align-self: flex-start;
            display: flex;
            flex-direction: column;
            max-width: 45.0625rem;
        }

        .title {
            h1 {
                font-size: 5rem;
            }
        }

        .text {
            display: flex;
            flex-direction: column;
            align-self: flex-end;
            margin-top: 3rem;
            max-width: 37.0625rem;

            span {
                font-size: 1.25rem;
                font-weight: 600;
                line-height: 2rem;
            }

            .btn-container {
                margin-top: 4rem;
            }
        }

        .info-grid-container {
            margin-top: 6rem;
        }
    }
}

.specialisms {
    .hero {
        .container {
            background: url('../../../static/executive-search.png') top right no-repeat #FFF;
            background-size: contain;
        }

        .title {
            background: url('../../../static/specialism-icon.svg') top center no-repeat;
            background-size: 12rem 12rem;
            padding-top: 6rem;

            h1 {
                color: #310A31;
            }
        }

        .text {
            span {
                color: #7E8192;
            }
        }
    }
}
