.header-container {
  align-items: center;
  display: flex;
  justify-content: space-between;

  .header-inner-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

div:not(.content) > .header-container {
  background: #FFF;
  padding: 0 1.5rem;
  position: sticky;
  top: 0;

  .header-inner-container {
    margin: 0 auto;
    max-width: 1248px;
  }

  .header {
    padding: 2.3125rem 0 2.3125rem 3rem;
  }
}

.header {
  border-radius: 1000px;
  background: #FFF;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 1.75rem 3rem;
  width: fit-content;

  .nav-list {
    display: flex;
    gap: 2rem;

    > div {
      align-items: center;
      display: flex;
      flex-direction: column;
      position: relative;
    }

    a {
      align-items: center;
      color: #310A31;
      display: flex;
      font-size: 1.125rem;
      font-weight: 800;

      img {
        margin-left: 10px;
      }
    }
  }

  .nav-dropdown {
    background: #310A31;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    margin-top: 4.375rem;
    padding: 2.5rem 2rem;
    position: absolute;
    width: 16.5rem;

    img {
      position: absolute;
      top: -0.75rem;
    }

    & > div > div {
      &:first-child a {
        margin-top: 0
      }

      &:last-child a {
        margin-bottom: 0
      }
    }

    a {
      color: #F6E27F;
      font-family: Montserrat;
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      margin: 2rem 0;
    }
  }
}
