.our-story {
    .origin-story {
        .container {
            background: #FF958C;
        }

        .content {
            gap: 4rem;
        }

        .title {
            h2 {
                color: #310A31;
            }
        }

        h5, h6, p, span {
            color: #310A31;
        }

        .logo {
            margin: 0 auto;
        }

        .story {
            align-items: center;
            display: flex;
            gap: 4rem;
            justify-content: space-between;

            .text-container {
                align-self: flex-start;
                display: flex;
                flex-direction: column;
                max-width: 37rem;
            }

            &.story-1 {
                p {
                    line-height: 2rem;
                }

                p:first-child {
                    font-size: 1.5rem;
                    line-height: 2.365rem;
                }

                h6 {
                    font-weight: 800;
                    line-height: 2rem;
                    margin-top: 3rem;
                }
            }

            &.story-2, &.story-3 {
                p {
                    font-size: 1.125rem;
                    line-height: 2rem;
                }

                h6 {
                    font-weight: 800;
                    line-height: 2rem;
                    margin-top: 2rem;
                }
            }

            .img-container {
                align-items: center;
                display: flex;
                flex-direction: column;
                flex-grow: 1;

                > img {
                    border-radius: 62.5rem;
                    border: 7px solid #F6E27F;
                    background: #D9D9D9;
                    height: 31.25rem;
                    margin-bottom: 1rem;
                    width: 31.25rem;
                }

                span {
                    text-align: center;
                    font-size: 0.875rem;
                    line-height: 1.5rem; /* 171.429% */
                }
            }
        }

        .quote {
            padding: 2rem 6rem;

            h3 {
                color: #8762CB;
                text-align: center;
                text-shadow: 3px 6px #F6E27F;
                font-weight: 800;
            }
        }
    }
}
