.specialisms,
.looking-for-a-job,
.our-story,
.contact-us,
.executive-search,
.embedded-talent,
.contract-interim {
    .specialists {
        .container {
            background: #8762CB;
        }

        .text-container {
            align-self: flex-start;
            display: flex;
            flex-direction: column;
        }

        .text {
            display: flex;
            align-self: flex-start;
            margin: 2rem 0 4rem;
            max-width: 45.0625rem;

            span {
                color: #FFF;
                font-size: 1.125rem;
            }
        }

        .specialists-container {
            align-items: center;
            display: flex;
            justify-content: space-around;

            .specialist {
                align-items: center;
                display: flex;
                flex-direction: column;
                max-width: 20rem;

                > img {
                    border-radius: 62.5rem;
                    border: 5px solid #02C39A;
                    background: #000;
                    height: 15.625rem;
                    width: 15.625rem;
                }

                h5 {
                    font-weight: 800;
                    margin: 1.5rem 0 0.5rem;
                }

                span {
                    color: rgba(255, 255, 255, 0.50);
                    font-size: 1.125rem;
                }

                p {
                    color: rgba(255, 255, 255, 0.70);
                    font-size: 1rem;
                    margin: 1rem 0 1.5rem;
                }

                .specialist-contact {
                    align-items: flex-start;
                    align-self: stretch;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    & > div {
                        align-items: center;
                        display: flex;
                    }

                    span {
                        color: #F6E27F;
                        font-size: 1.125rem;
                        font-weight: 800;
                        margin-left: 0.75rem;
                    }
                }
            }
        }
    }
}

.executive-search {
    .specialists {
        .container {
            background: #F9F9F9;
        }

        .title {
            h2 {
                color: #1A1A1A;
                font-family: Playfair Display;
                font-weight: 400;
            }
        }

        .text {
            span {
                color: #1A1A1A;
                font-family: Plus Jakarta Sans;
                font-weight: 400;
            }
        }

        .specialists-container {
            .specialist {
                > img {
                    border-color: #7E6739;
                }

                h5 {
                    color: #1A1A1A;
                    font-family: Playfair Display;
                    font-weight: 900;
                }

                span {
                    color: rgba(26, 26, 26, 0.50);
                    font-family: Plus Jakarta Sans;
                }

                p {
                    color: rgba(26, 26, 26, 0.70);
                    font-family: Plus Jakarta Sans;
                    font-weight: 400;
                }

                .specialist-contact {
                    span {
                        color: #7E6739;
                        font-family: Plus Jakarta Sans;
                    }
                }
            }
        }
    }
}
