.home,
.work-for-us,
.contract-interim {
    .work-for-us {
        .container {
            background: linear-gradient(90deg, rgba(0, 0, 0, 0.50) 10.41%, rgba(0, 0, 0, 0.44) 34.26%, rgba(0, 0, 0, 0.36) 55.33%, rgba(0, 0, 0, 0.00) 100%), url('../../../static/work-for-us.jpg'), lightgray 50% / cover no-repeat;
            background-size: cover;
        }

        .content {
            align-self: flex-start;
            max-width: 38.5rem;
        }

        .title {
            a {
                color: #F6E27F;
                background: #310A31;
            }
        }

        .text {
            margin-top: 2rem;

            p {
                color: #FFF;
                font-size: 1.125rem;
                font-weight: 600;
            }
        }

        .grid-container {
            margin-top: 3rem;

            .link-container {
                align-items: center;
                display: flex;
                height: 3rem;
            }

            a {
                display: flex;
            }

            span {
                color: #F6E27F;
                font-size: 1.25rem;
                font-weight: 800;
                max-width: 11.375rem;
            }

            img {
                margin-left: 1rem;
            }
        }

        .cv-container {
            background: #310A31;
            border-radius: 2rem;
            margin-top: 4rem;
            padding: 2rem;

            p {
                color: rgba(255, 255, 255, 0.70);
                font-size: 1rem;
                margin: 1rem 0 2rem;
            }

            .link-container {
                display: flex;
                justify-content: flex-end;

                a {
                    align-items: center;
                    color: #F6E27F;
                    display: flex;
                    font-weight: 800;
                }

                img {
                    margin-left: 1rem;
                }
            }
        }
    }
}
