.jobs {
    .title {
        margin-bottom: 2rem;

        h2 {
            color: #310A31;
        }
    }

    .text {
        font-size: 1.125rem;
        margin-top: 2rem;

        a {
            color: #F6E27F;
            font-weight: 800;
        }

        img {
            margin-left: 0.5rem;
        }
    }

    .roles {
        margin-top: 4rem;
    }
}
